/* index.css */
@import './navBar.css';  /* If you have specific styles for Navbar */
@import './home.css';         /* If you have specific styles for Home page */
@import './episode.css';     /* If you have specific styles for Episodes page */
@import './about.css';         /* If you have specific styles for About page */
@import './contact.css';   /* If you have specifc styles for Contact page */

*,.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }

.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
body{
background-color: whitesmoke;
height: 70vh;
}

/*NavBar and Accent Section*/
ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: end;
width: 100%;
}
.accent-div{
background-color:rgb(176, 57, 232) ;
text-decoration:hidden;
margin:0;
padding:2px;
height: 5px;
}

.carousel-accent-div{
background-color:rgb(176, 57, 232) ;
text-decoration:hidden;
margin:0;
padding:5px;
}

/*Page Link Section*/


.link-container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
margin: 5px;
padding: 8px;
width: 100%;
height:0 auto
}

.link-container > ul{
padding: 50px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;

}
li{
list-style: none;
margin: 0;
padding: 0;
}

.panel-wrapper{
width: 650px;
height:600px;
margin: 100px auto;
position: relative;
cursor: pointer;
overflow: hidden;
}

.panel-wrapper img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
}

.panel-wrapper:hover img{
transform:scale(1.2);
transition: 0.3s;
}

.overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
transition:opacity 0.3s;
}

.panel-wrapper:hover .overlay{
background-color: #2626263d;
opacity: 1;
}

.panel-text{
color: #262626;
font-size: 80px;
font-weight: bold;
text-align: center;
padding:20px;
}

/*Subscription Section*/
.subscription-container{
background-color: #262626;
color: whitesmoke;
font-weight: bold;
font-size: 1.5em;
padding: 50px;
display: flex;
flex-wrap:wrap;
flex-direction: row;
justify-self: center;
justify-content: space-evenly;
text-align: center;
margin: 10px;
}
.sub-email-container{
display:flex;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
padding-bottom: 10px;
}

.email-input{
height: 40px;
display: flex;
justify-content: center;
}
.email-input i{
background-color:rgb(176, 57, 232) ;
color: #262626;
width: 40px;
line-height: 40px;
border-radius: 5px;
}

.ebox,.btn{
border: none;
outline:none;
}

.ebox{
width: 0;
transition: 0.6s;
visibility: hidden;
}

.email-input:hover > .ebox,.ebox:focus{
width: 260px;
visibility: visible;
padding:0 10px;
}

.btn{
background-color: rgb(176, 57, 232) ;
color:#262626;
text-transform: capitalize;
padding: 0 10px;
cursor: pointer;
border-radius: 5px;
font: 1.2em;
}

.sub-platform{
display:flex;
flex-wrap: wrap;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
}

.icon-links{
color: rgb(176, 57, 232) ;
font-size: 40px;
display:flex;
flex-direction: row;
justify-content: space-evenly;
}

.icon-links a {
text-decoration: none;
color: rgb(176, 57, 232) ;
}

i:hover{
transform: scale(1.3);
}

/*User Review Section*/
.listener-container{
margin-top:5%;
margin-bottom: 5%;
padding: 10px;
}

.card {
width: 100%;
height: 300px;
transform-style: preserve-3d;
perspective: 500px;
border: none;
background-color: inherit;
}

.card .box {
position: absolute;
color: #fff;
width: 100%;
height: 100%;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
border-radius: 15px;
background: #262626;
transform-style: preserve-3d;
transition: 0.5s;
backface-visibility: hidden;
}

.card .box.front,
.card .box.back {
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.card .box.front img {
width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover;
border: 5px solid #fff;
margin-bottom: 25px;
}

.card:hover .box.front {
transform: rotateY(180deg);
}
.box.front h2 {
font-family: "Sedan", serif;
}
.box.front h4 {
font-size: 18px;
letter-spacing: 2px;
}

.card .box.back {
position: absolute;
background: #262626;
transform: rotateY(180deg);
padding: 20px 30px;
text-align: center;
user-select: none;
}

.card .box.back .fa-quote-left {
position: absolute;
top: 25px;
left: 180px;
font-size: 3.2rem;
}

.card:hover .box.back {
transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
.col-lg-4 {
    margin-top: 40px;
    margin-bottom: 20px;
}
}

/*About Host Section*/
.review-container{
display:flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin: 10px;
}

.review-container h2{
font-size: 100px;;
text-align: center;
font-weight: 400;
margin-top: 50px;
}

footer{
background-color: #262626;
color: #fff;
}

footer  a{
color: #fff;
text-decoration: none;
}